.search-container {
    transform: translateY(-20%);
    background-color: #fff;
    border-radius: 26px;
    padding: 30px;
}

.amount,
.receive {
    width: 90%;
    font-weight: 600;
}

.input-container {
    display: flex;
    justify-content: space-between;
    border: #eeeee4 1px solid;
    border-radius: 12px;
    margin-top: 20px;
}


.materialInput {
    padding: 10px;
}

.css-1s97tdc-MuiInputBase-root-MuiInput-root {
    font-weight: 700 !important;
    font-size: 18px !important;
}

.input-container:focus-within {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.css-4ca7ag-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #fff !important;
}

.MuiButtonBase-root {
    padding-right: 16px !important;
    border-radius: 12px !important;
}

.exchange-rate {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.exchange-rate span {
    color: darkgreen;
}

.MuiButtonBase-root {
    padding: 10px 20px !important;
}